
  {%load static%}
  <title>base</title>


  <nav>
    
    <div>
    <ul class="nav justify-content-end">

      <a class="navbar-brand" href="{% url 'inicio'%}">
        <img src="{% static 'img/celtic_chico.png' %}"   width="50" height="50" alt="img">
      </a>
    
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
        

    

  </ul>
</nav>
</div>

  
  
  
  
  
  
  
  
  
  
  <footer>
    <p>Contactos</p>
    <ul>
      <li>Teléfono: 555-1234</li>
      <li>Email: contacto@celtics.com</li>
      <li>Dirección: 123 Main St, Boston, MA 02101</li>
      <li>Redes sociales:
        <a href="https://www.facebook.com/celtics/">Facebook</a>,
        <a href="https://twitter.com/celtics">Twitter</a>,
        <a href="https://www.instagram.com/celtics/">Instagram.</a>
      </li>
    </ul>
  </footer>
  
