{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sistema PT{% endblock %}</title>

  <!-- Estilos globales -->
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">

  <!-- Bloque para estilos específicos de cada página -->
  {% block styles %}{% endblock %}
</head>
<body>

  {% include 'inicio/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'inicio/footer.html' %}

  {% block scripts %}{% endblock %}
</body>
</html>
